<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=title %> - Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4.1/dist/vuejs-dialog.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4.1/dist/vuejs-dialog.min.css">
    <% scripts.forEach(function(item){ %>
        <script src="<%=item%>"></script>
    <% }) %>
    <script type="text/javascript">
        window.vue = window.Vue;
    </script>
    <script type="text/javascript" src="https://unpkg.com/vue-notification"></script>
    <script type="text/javascript">
        window.vueNotification = window["vue-notification"].default;
        Vue.use(vueNotification);
    </script>
    <script>
        window.Vue.use(VuejsDialog.main.default);
    </script>

    <style>
        .dg-btn:focus {
            background-color: #fefefe;
        }
        .dg-btn:hover {
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
        }
    </style>
</head>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });
</script>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><%=title %></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <% navbar.forEach(function(item){ %>
                    <li><a href="<%=item.href%>"><%= item.text %></a></li>
                <% }) %>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <% navbar.forEach(function(item){ %>
            <li><a href="<%=item.href%>"><%= item.text %></a></li>
        <% }) %>
    </ul>

    <div id="main">
        <p><%-content %></p>
        <notifications group="result" position="bottom left"></notifications>
    </div>
</body>

</html>