<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=title %> - Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });
</script>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><%=title %></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <% navbar.forEach(function(item){ %>
                    <li><a href="<%=item.href%>"><%= item.text %></a></li>
                <% }) %>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <% navbar.forEach(function(item){ %>
            <li><a href="<%=item.href%>"><%= item.text %></a></li>
        <% }) %>
    </ul>

    <div id="main">
        <p><%-content %></p>
    </div>
</body>

</html>